@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --color-gray-light: oklch(86.9% 0.022 252.894);
  --color-gray-dark: oklch(27.9% 0.041 260.031);
  --color-amber: oklch(87.9% 0.169 91.605);
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
p,
a {
  color: var(--color-gray-dark);
}

.page-wrapper {
  display: flex;
  flex-direction: column; /* mobile */
  width: 100%;
}

.section-left,
.section-right {
  padding: 2rem;
  width: 100%;
}

.section-left {
  background-color: var(--color-gray-light);
}

.intro {
  margin-bottom: 1.5rem;
}

.intro h1 {
  margin-bottom: 1rem;
}

.intro img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 1rem;
}

.intro p {
  max-width: 100%;
}

.skills h3 {
  margin-bottom: 1rem;
}

.skills ul {
  padding: 0;
}

.skills li {
  list-style: none;
}

.section-right {
  background-color: var(--color-amber);
}

.section-right h1 {
  margin-bottom: 2rem;
}

.projects-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.projects-wrapper div {
  padding: 2rem;
}

@media (min-width: 600px) {
  .page-wrapper {
    flex-direction: row;
    min-height: 100vh;
  }

  .section-left,
  .section-right {
    width: 50%;
    min-height: 100vh;
  }

  .intro img {
    width: 50%;
  }

  .intro p {
    max-width: 50%;
  }

  .projects-wrapper {
    gap: 6rem;
  }

  .projects-wrapper div {
    padding: 4rem;
  }
}
